@charset "UTF-8";

/* Переменные */
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-light: #F7E296;
  --special-yellow-dark: #F0C52E;
  --status-pink: #F6DADA;
  --footer-yellow: #FFC600;
  --input-grey: #F2F2F2;
  --input-grey-hover: #EAEAEA;

}

/* Локальные шрифты */
@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Глобальные стили */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: minmax(186px, 300px) 1fr 324px;
  margin: 0;
  padding-top: 40px;
  min-width: 1160px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;

  color: var(--basic-black);

  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.button,
.button:visited {
  margin: 0;
  padding: 9px 25px;
  border: none;

  display: inline-block;

  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);

  cursor: pointer;

  background: url("../img/misc/button-rectangle-bg.svg") center repeat-x;

  transition: all 1s;
}

.button:hover {
  padding: 9px 25px;
  background-color: var(--special-yellow-dark);

  transition: all 1s;
}

.button:focus {
  opacity: unset;

  transition: all 1s;
}

.button:active {
  opacity: 0.3;
}

/* Хедер */
header {
  max-height: 300px;
}

header .wrapper {
  position: relative;

  padding-left: 60px;
  padding-right: 60px;
  padding-top: 28px;
  padding-bottom: 47px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;

  background-color: var(--special-yellow);
}

/*Логотип в шапке*/
.logo a,
.logo a:visited {
  position: absolute;
  top: -20px;
  left: 60px;
}

.logo svg:hover {
  opacity: 0.6;
}

.logo svg:active,
.logo svg:focus {
  opacity: 0.3;
}

.logo svg {
  display: block;
  width: 163px;
  height: 35px;
}

/*Форма поиска в шапке*/
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  text-align: left;
}

.search-form img {
  position: absolute;

  display: block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.search-form input {
  width: 440px;
  border:2px solid var(--special-yellow);
  padding-left: 37px;
  padding-right: 84px;
  padding-bottom: 12px;
  outline-style: none;

  align-self: flex-end;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  opacity:  0.3;

  background-color: inherit;
}

.search-form input:hover {
  opacity: 0.6;
}

.search-form input:focus {
  border-left: 1px;
  border-right: 1px;
  border-bottom: 2px solid var(--basic-black);
  outline: none;

  opacity: unset;
}

.search-form button {
  position: relative;
  right: 84px;

  width: 84px;
  border: 0 transparent;
  padding: 15px 17px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  color: var(--special-yellow);
  background-color: inherit;
}

.search-form button:hover {
  color: var(--basic-white, white);
  background-color: var(--basic-black);
}

.search-form button:focus {
  color: var(--basic-black);
  background-color: inherit;

  cursor: pointer;
}

.search-form button:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-black);
}

/* Меню пользователя */
.user-menu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);

  list-style-type: none;
}

.user-menu a {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.user-menu a svg {
  margin: auto;
  margin-right: 12px;
}

.user-menu a,
.user-menu a:visited {
  color: var(--basic-black);
}

.user-menu a:hover {
  opacity: 0.6;
}

.user-menu a:active {
  opacity: 0.3;
}

.user-menu li:first-child {
  margin-right: 20px;
}

.user-menu li.chart {
  margin-left: auto;
}

.user-menu li:last-child {
  margin-left: 43px;
}

.user-menu button {
  margin: 0;
  padding: 0;
  background: 0;
  border: none;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  opacity: 0.3;

  cursor: pointer;
}

.user-menu button:hover,
.user-menu button:focus {
  opacity: 0.6;
}

.user-menu button:active {
  opacity: 0.3;
}

/* Главное навигационное меню */
.navbar {
  width: 100%;
  padding-top: 35px
}

.mainmenu {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: -2px;
  padding: 0;
  list-style-type: none;
}

.mainmenu > li:first-child {
  flex-grow: 1;
}

.mainmenu > li:first-child a {
  margin-right: 13px;
}

.mainmenu > li:first-child svg {
  position: relative;
  top: 2px;
}

.mainmenu > li:first-child + li {
  margin-right: 35px;
}

.mainmenu > li:last-child {
  margin-left: 108px;
  margin-right: -3px;
}

.mainmenu a,
.mainmenu a:visited {
  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.mainmenu > li:first-child > a {
  letter-spacing: 0.1em;
}

.mainmenu a:hover {
  opacity: 0.6;
}

.mainmenu a:active {
  opacity: 0.3;
}

/* Выпадающее меню */
.submenu {
  margin: 0;
  margin-top: 23px;
  margin-bottom: -9px;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, min-content);
  grid-auto-flow: column;
  grid-gap: 8px 50px;

  list-style-type: none;

  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

.submenu li {
  outline: 2px solid rgba(33, 148, 207, 0.7);
  outline-offset: -5px;
}

.submenu li:last-child {
  grid-column-start: 3;
}

.submenu a,
.submenu a:visited {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;
  color: var(--basic-black);
}

.submenu a:hover {
  opacity: 0.6;
}

.submenu a:active {
  opacity: 0.3;
}

/* Футер */
footer {
  background-color: var(--basic-dark);
}

footer .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: start;
  padding-top: 45px;
}

/*Логотип в футере*/

.footer-logo {
  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

.footer-logo svg path {
  fill: var(--special-yellow-dark);
}

.footer-logo a svg {
  display: block;
  width: 163px;
  height: 35px;
}

.footer-logo svg:hover {
  opacity: 0.6;
}

.footer-logo svg:active,
.footer-logo svg:focus {
  opacity: 0.3;
}

/* Меню пользователя в футере */
.footer-user-menu {
  margin: 0;
  padding: 0;
  grid-column: span 2;

  display: flex;
  justify-content: end;
  justify-content: flex-end;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);

  list-style-type: none;

  outline: 2px solid rgba(7, 184, 197, 0.7);
  outline-offset: -5px;
}

.footer-user-menu li {
  margin-left: 40px;
}

.footer-user-menu svg path {
  fill: var(--footer-yellow);
}

.footer-user-menu a,
.footer-user-menu a:visited {
  color: var(--basic-white);
  opacity: 0.7;
}

.footer-user-menu a:hover {
  opacity: unset;
}

.footer-user-menu a:active {
  opacity: 0.3;
}

.footer-user-menu button {
  margin: 0;
  padding: 0;
  background: 0;
  border: none;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  opacity: 0.7;

  cursor: pointer;
}

.footer-user-menu button:hover,
.footer-user-menu button:focus {
  opacity: unset;
}

.footer-user-menu button:active {
  opacity: 0.3;
}

/* Контакты в футере */
.footer-contacts {
  grid-column: span 4;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;


  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: var(--basic-white);
  opacity: 0.6;

  outline: 2px solid rgba(7, 197, 55, 0.7);
  outline-offset: -5px;
}

/* Навигация по сайту в футере */
.footer-navbar {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 36px;
  grid-column: 1/4;
  justify-content: center;

  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0.6;

  list-style-type: none;

  outline: 2px solid rgba(197, 80, 7, 0.7);
  outline-offset: -5px;
}

.footer-navbar a {
  color: var(--basic-white);
}

.footer-navbar a:hover {
  opacity: 0.6;
}

.footer-navbar a:active {
  opacity: 0.3;
}

/* Декоративный прямоугольник в футере */
.rectangle {
  height: 7px;
  background-color: var(--footer-yellow);

  outline: 2px solid rgba(33, 148, 207, 0.7);
  outline-offset: -5px;
}

/* Иконки соцсетей */
.social-icons {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;

  outline: 2px solid rgba(63, 206, 18, 0.7);
  outline-offset: -5px;
}

.social-icons ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:repeat(3, 32px);
  grid-column-gap: 20px;

  list-style-type: none;
}

.social-icons ul a,
.social-icons ul a:visited {
  opacity: 0.3;
}

.social-icons ul a:hover {
  opacity: 0.6;
}

.social-icons ul a:active {
  opacity: 0.1;
}

.social-icons svg path {
  fill: var(--basic-white);
}

/* Логотип HTML Academy */
.htmlacademy-logo {
  justify-self: end;

  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

.htmlacademy-logo svg path {
  fill: var(--special-yellow-dark);
}

.htmlacademy-logo a:hover {
  opacity: 0.6;
}

.htmlacademy-logo a:active {
  opacity: 0.3;
}

/* Индексная страница */
.wrapper-index {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
}

.wrapper-index h2 {
  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

/* Слайдер Топ-3 по продажам */
.slider {
  position: relative;
  top: -129px;

  margin-left: 89px;
  margin-right: 47px;

  grid-column: span 2;

  outline: 2px solid rgba(33, 148, 207, 0.7);
  outline-offset: -5px;
}

.slider h3 {
  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);

  outline: 2px solid rgba(242, 48, 30, 0.7);
  outline-offset: -5px;
}
.slider h4 {
  outline: 2px solid rgba(242, 48, 30, 0.7);
  outline-offset: -5px;
}

.slider li > span {
  position: absolute;
  top: -17px;

  grid-row: 1;
  grid-column: 2;
  justify-self: end;

  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);

  outline: 2px solid rgba(63, 206, 18, 0.7);
  outline-offset: -5px;
}

.image-link {
  grid-row: 1/6;

  outline: 2px solid rgba(33, 148, 207, 0.7);
  outline-offset: -5px;
}

.slider p {
  outline: 2px solid rgba(63, 206, 18, 0.7);
  outline-offset: -5px;
}

.slider ol {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slider ol li {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  align-items: start;

  outline: 2px solid rgba(33, 148, 207, 0.7);
  outline-offset: -5px;
}

.сharacteristics {
  outline: 2px solid rgba(33, 148, 207, 0.7);
  outline-offset: -5px;
}

/* Популярные товары */
.popular {
  grid-column: span 2;

  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

.popular ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  list-style-type: none;
}

.popular ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: max-content max-content;
}

.popular li {
  outline: 2px solid rgba(63, 206, 18, 0.7);
  outline-offset: -5px;
}

.popular a {
  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);

  order: 1;

  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

.popular h3 > a::before,
.popular h3 > a:visited::before {
  content: "";
  width: 160px;
  height: 160px;
  display: block;

  background-color: var(--special-yellow-light);
  background-repeat: no-repeat;
  background-position: center center;
}

.popular h3 > a:hover::before {
  background-color: var(--special-yellow-dark);
}

.popular h3 > a:active::before {
  opacity: 0.7;
}

.virtual-reality::before {
  background-image: url("../img/popular/virtual-reality.svg");
}

.monopods-for-selfies::before {
  background-image: url("../img/popular/monopods-for-selfies.svg");
}

.action-cameras::before {
  background-image: url("../img/popular/action-cameras.svg");
}

.fitness-bracelets::before {
  background-image: url("../img/popular/fitness-bracelets.svg");
}

.smartwatch::before {
  background-image: url("../img/popular/smartwatch.svg");
}

.quadcopters::before {
  background-image: url("../img/popular/quadcopters.svg");
}

/* Блок Наши услуги*/
.services {
  grid-column: span 2;

  display: flex;
  flex-direction: row;

  background-color: var(--basic-grey-light);

  outline: 2px solid rgba(63, 206, 18, 0.7);
  outline-offset: -5px;
}

.services ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

/* Блок Наши партнеры */
.logotypes {
  grid-column: span 2;

  outline: 2px solid rgba(33, 148, 207, 0.7);
  outline-offset: -5px;
}

.logotypes ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  list-style-type: none;
}

.logotypes ul li {
  outline: 2px solid rgba(33, 148, 207, 0.7);
  outline-offset: -5px;
}

.logotypes a img,
.logotypes a:visited img{
  opacity: 0.1;
  filter: grayscale(100%);
}

.logotypes a:hover img{
  opacity: unset;
  filter: unset;
}



/* Блок О нас */
.info {
  padding-right: 80px;

  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

.info ul {
  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);

  list-style-type: none;
}

.info ul li::before {
  content: "";

  width: 8px;
  height: 8px;

  margin-right: 24px;

  display: inline-block;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;

  position: relative;
  top: -2px;
}

/* Блок Контакты */
.contact {
  outline: 2px solid rgba(63, 206, 18, 0.7);
  outline-offset: -5px;
}

/* Контактная форма Напишите нам*/
.contact-form-popup {
  position: relative;

  grid-column: span 2;

  outline: 2px solid rgba(33, 148, 207, 0.7);
  outline-offset: -5px;
}

.contact-form-popup form {
  width: 960px;
  margin: 0 auto;
  padding: 0 100px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form-popup > button {
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;

  position: relative;
  left: 85%;

  background: var(--special-yellow) url("../img/misc/cross.svg") center no-repeat;
  opacity: 0.5;

  cursor: pointer;
}

.contact-form-popup > button:hover {
  opacity: 0.7;

  background-color: var(--special-yellow-dark);
}

.contact-form-popup > button:focus {
  opacity: 0.3;

  background-color: var(--special-yellow-dark);
}

.contact-form-popup fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  display: contents;

  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

.contact-form-popup p {
  display: flex;
  flex-direction: column;

  outline: 2px solid rgba(33, 148, 207, 0.7);
  outline-offset: -5px;
}

.contact-form-popup p:last-child {
  grid-column: span 2;
}

.contact-form-popup label {
  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.contact-form-popup input {
  width: 360px;
  margin: 0;
  padding: 18px 0;
  padding-left: 20px;
  border: 1px solid transparent;

  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
  opacity: 0.4;

  background-color: var(--input-grey);
}

.contact-form-popup input:hover {
  background-color: var(--input-grey-hover);
}

.contact-form-popup input:focus {
  outline: none;
  outline: 2px solid var(--special-yellow);

  color: var(--basic-dark);
  opacity: unset;
}

.contact-form-popup input:invalid {
  background-color: var(--status-pink);
}

.contact-form-popup textarea {
  min-height: 167px;
  margin: 0;
  padding: 0;
  padding: 18px 0;
  padding-left: 20px;
  border: 1px solid transparent;

  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
  opacity: 0.4;

  background-color: var(--input-backround);
}

.contact-form-popup textarea:hover {
  background-color: var(--input-grey-hover);
}

.contact-form-popup textarea:focus {
  outline: none;
  outline: 2px solid var(--special-yellow);

  color: var(--basic-dark);
  opacity: unset;
}

.contact-form-popup textarea:invalid {
  background-color: var(--status-pink);
}

/* Страница каталога товаров */
.wrapper-inner {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.inner h1 {
  grid-column: span 2;

  margin: 0;
  padding: 0;

  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

/* Хлебные крошки */
.breadcrumbs {
  grid-column: span 2;

  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style-type: none;

  outline: 2px solid rgba(33, 148, 207, 0.7);
  outline-offset: -5px;
}

.breadcrumbs li {
  margin-right: 16px;
}

.breadcrumbs a,
.breadcrumbs a:visited {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

  /* Фильтр по характеристикам товаров */
.product-filter {
  width: 328px;
  background-color: var(--basic-grey-light);

  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

.product-filter h2 {
  margin: 0;
  padding: 25px 0;

  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color:var(--basic-black);
  text-align: center;

  background-color: #DCDCDC;
}

.product-filter fieldset {
  border: none;
}

.product-filter legend {
  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.product-filter ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-filter ul li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.product-filter input,
.product-filter label {
  cursor: pointer;
}

  /* Товары */
.goods {
  display: grid;
  grid-template-columns: 1fr;
  outline: 2px solid rgba(63, 206, 18, 0.7);
  outline-offset: -5px;
}

.goods-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

/* Карточка товара */
.goods-item {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;

  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

.goods-item h2 a {
  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);

  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

.goods-item a {
  grid-column: span 2;
  order: -1;
}

.goods-item > a > img {
  width: 360px;
  height: 380px;
}

.goods-item p {
  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);

  outline: 2px solid rgba(63, 206, 18, 0.7);
  outline-offset: -5px;
}

.goods-item-controls {
  position: absolute;

  grid-column: span 2;

  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  justify-self: center;

  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

button[name="add-to-comparison"] {
  margin: 0;
  padding: 0;
  border: none;

  order: 1;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);

  cursor: pointer;
}

button[name="add-to-comparison"]:hover,
button[name="add-to-comparison"]:focus {
  opacity: unset;
}

button[name="add-to-comparison"]:active {
  opacity: 0.2;
}

/* Сортировка товаров */
.sorting {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 72px;

  display: flex;
  flex-direction: row;
  align-items: baseline;

  background-color: var(--basic-grey-light);

  outline: 2px solid rgba(197, 187, 7, 0.7);
  outline-offset: -5px;
}

.sorting span {
  margin-right: 74px;

  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--basic-black);
}

.sorting ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  list-style-type: none;
}

.sorting ul li {
  margin-left: 30px;
}

.sorting a,
.sorting a:visited {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);

  opacity: 0.3;
}

.sorting a:hover {
  opacity: 0.6;
}

.sorting a:active {
  opacity: unset;
}

/* Навигация по страницам товаров */
.goods-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  background-color: #EBEBEB;

  outline: 2px solid rgba(63, 206, 18, 0.7);
  outline-offset: -5px;
}

.goods-controls a,
.goods-controls a:visited {
  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.goods-controls a:active {
  opacity: 0.3;
}

.goods-controls span a,
.goods-controls span a:visited {
  display: block;
  padding: 25px 30px;
}

.goods-controls span a:hover {
  background: #D9D9D9;
}

.goods-controls span a:active {
  background: #D9D9D9;
}

.goods-controls span + span {
  order: 1;
}

.goods-controls ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  list-style-type: none;
}

.goods-controls ul li {
  margin-right: 30px;
}

.goods-controls ul a,
.goods-controls ul a:visited {
  opacity: 0.3;
}

.goods-controls ul a:hover {
  opacity: 0.6;
}

.goods-controls ul a:active {
  opacity: unset;
}


