*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

body {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  position: relative;

  width: 1440px;
  margin: 0 auto;
  padding-top: 40px;

  background-color: #FFFFFF;
}

/*Шапка*/

header {
  position: relative;

  margin-left: 140px;
  margin-right: 140px;
  padding-top: 20px;

  display: flex;

  background-color: #F7E296;
}

/*Логотип в шапке*/

.main_navigation__logo {
  position: relative;
  top: -40px;
  left: 60px;

  width: 163px;
  height: 35px;
}

/*Форма поиска в шапке*/
.main_navigation__search {
  margin-top: -12px;
  margin-left: 60px;

}

.main_navigation__search_icon {
  position: absolute;
  top: 47px;
}

.main_navigation__search_input {
  width: 144px;

  background: rgba(0, 0, 0, 0);
  background-color: #F7E296;

  border: 0 solid transparent;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: right;

  color: rgba(0, 0, 0, 0.3);
}


main {
  margin-left: 140px;
  margin-right: 140px;
}

footer {
  margin-left: 140px;
  margin-right: 140px;
}
